#root {
  margin: 1em auto;
  width: 650px;
}

.post {
  background: #FFFFFF;
  padding: 20px;
  margin: 10px 0 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.post-form {
  background: #90caf9 ;
  padding: 20px;
}

.content {
  margin-left: 5px;
}

.Personal {
  padding: 5px;
  border: 5px solid blue;
  margin: 0;
  background: blue;
  color: white;
}

.College {
  padding: 5px;
  border: 5px solid green;
  margin: 0;
  background: green;
  color: white;
}

.Gossip {
  padding: 5px;
  border: 5px solid violet;
  margin: 0;
  background: violet;
  color: white;
}

.Sport {
  padding: 5px;
  border: 5px solid black;
  margin: 0;
  background: black;
  color: white;
}

.formatLeft {
  float: left;
}

.formatRight {
  float: center;
}

.author {
  padding: 5px;
  border: 5px solid grey;
  margin: -10px;
  border-radius: 5px;
  float: right;
}
