$wrapper-padding: 16px;

.wrapper {
	margin: 0 auto;
	display: flex;
	height: 100%;
	padding: 0 $wrapper-padding;
	width: 100%;
}

.main {
	margin: auto;
    width: 60%;
    padding: 10px;
		height: 100%
}

#app {
	height: 100%;
}

.text-section {
	margin: 3em auto;
}

.lefty {
	width: 40%;
	float:left;
	padding-left: 100px;
}

.righty {
	width: 60%;
	float:right;
}

.newsFeed {
	  clear: both;
    vertical-align: bottom;
    width: 100%;
		text-align: center;
}

.background {
width: 100%;
opacity: 20%;
background-image: linear-gradient(rgba(0, 1, 255, 0.2), rgba(30, 255, 100, 0.3))
}

.filter-list {
}
